@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #333333;
}

.content {
    margin: 0 auto;
    padding: 50px 30px;
    width: 100%;
    max-width: 1040px;
}

h1 {
    font-size: 40px;
}

h1,
h2 {
    margin-bottom: 50px;
    width: 60%;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.text {
    margin-bottom: 30px;
}

.hero {
    max-height: 352px;
}

.hero_content {
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
}

.lessons__list {
    margin-bottom: 30px;
}

.lessons__list li {
    padding-left: 50px;
    background-image: url(../img/pay_done.png);
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.lessons__list li:not(:last-child) {
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    width: 330px;
    padding: 30px 30px 30px 60px;
    font-weight: 700;
    text-align: center;
    background-color: #CAF5FF;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tg__btn {
    background-image: url(../img/tg.png);
    background-position-y: 50%;
    background-position-x: 20px;
    background-repeat: no-repeat;
}

.footer {
    background-color: #edf1f2;
}

.footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__content__text {
    font-size: 12px;
}

.footer {
    background-color: #edf1f2;
}

.footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__content__text {
    font-size: 12px;
}

@media screen and (max-width: 576px) {
    .hero {
        background-image: none;
    }

    h1 {
        font-size: 32px;
    }

    h1,
    h2 {
        width: 100%;
    }

    .btn {
        padding: 20px 30px 20px 60px;
    }
}